<launch>

    <!-- Basic launch file of Stingray platform -->

    <!-- Settings for "output" parameter of nodes -->
    <arg name="ros_output" default="screen" />

    <arg name="simulation" default="true" />  <!-- можно передавать эти параметры через двоеточие simulation:true-->

    <!-- Enables connection with hardware platform -->
    <arg name="hardware_connection" default="true" />

    <!-- UART settings -->
    <arg name="uart_device" default="/dev/ttyS0" />
    <arg name="uart_baudrate" default="57600" />
    <arg name="uart_data_bytes" default="8" />
    <!-- Available parity values: none, even, odd -->
    <arg name="uart_parity" default="none" />
    <arg name="uart_stop_bits" default="1" />

    <!-- Coefficient for transforming velocity value from range 0.0 to 1.0 to real vehicle range -->
    <arg name="velocity_coefficient" default="20000.0" />


    <!-- Connection with real vehicle -->
    <group unless="$(arg simulation)">
        <group if="$(arg hardware_connection)">

	    <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="$(arg ros_output)" respawn="true"/>

  	    <node pkg="nodelet" type="nodelet" name="uart_driver" args="stingray_connection/uart_driver standalone_nodelet" output="$(arg ros_output)" respawn="true">
                <param name="device" value="$(arg uart_device)" />
                <param name="baudrate" value="$(arg uart_baudrate)" />
                <param name="data_bytes" value="$(arg uart_data_bytes)" />
                <param name="parity" value="$(arg uart_parity)" />
                <param name="stop_bits" value="$(arg uart_stop_bits)" />
            </node>

            <node pkg="nodelet" type="nodelet" name="hardware_bridge" args="load stingray_connection/hardware_bridge standalone_nodelet" output="$(arg ros_output)" respawn="true"/>
        </group>
    </group>

    <!-- Connection with simulator -->
    <group if="$(arg simulation)">
        <node pkg="stingray_drivers" name="gazebo_bridge" type="gazebo_bridge" output="$(arg ros_output)" respawn="true" />
        <node pkg="stingray_pilot" name="pilot" type="test_sequence_1" output="$(arg ros_output)" respawn="true" respawn_delay="120"/>
        <node pkg="stingray_steering_lib" name="stingray_steerer" type="Steerer" output="$(arg ros_output)" respawn="true"/>
    </group>

    <!-- Movement nodes, real vehicle -->
    <group unless="$(arg simulation)">
        <node pkg="stingray_movement" type="basic_movement" name="basic_movement" output="$(arg ros_output)" respawn="true">
            <param name="velocity_coefficient" value="$(arg velocity_coefficient)" />
        </node>
    </group>

    <!-- Movement nodes, simulator -->
    <group if="$(arg simulation)">
        <node pkg="stingray_movement" type="basic_movement" name="basic_movement" output="$(arg ros_output)" respawn="true">
            <param name="velocity_coefficient" value="4.3" />
        </node>
    </group>


</launch>
