initial: THRUSTER_PRE_INIT_INDICATION
states:
  THRUSTER_PRE_INIT_INDICATION:
    action:
      type: ThrusterIndication
      repeat: 3
  RESET_IMU:
    action:
      type: InitIMU
      duration: 1
  ENABLE_STABILIZATION:
    action:
      type: EnableStabilization
      depth: true
      roll: false
      pitch: false
      yaw: true
      timeout: 1
    timeout: 2
  THRUSTER_AFTER_IMU_INDICATION:
    action:
      type: ThrusterIndication
      repeat: 1
    timeout: 2
transitions:
  - { trigger: ok, source: THRUSTER_PRE_INIT_INDICATION, dest: RESET_IMU }
  - { trigger: ok, source: RESET_IMU, dest: ENABLE_STABILIZATION }
  - {
      trigger: ok,
      source: ENABLE_STABILIZATION,
      dest: THRUSTER_AFTER_IMU_INDICATION,
    }
  - { trigger: ok, source: THRUSTER_AFTER_IMU_INDICATION, dest: OK }
  - { trigger: timeout, source: "*", dest: FAILED }
