<launch>
    <!-- Launch file of Stingray for real AUV -->

    <!-- ARGS -->

    <!-- COMMON -->
    <!-- Settings for "output" parameter of nodes -->
    <arg name="ros_output" default="screen" />
    <!-- Debug mode. Enabled output images publishing after object detection -->
    <arg name="debug" default="true" />
    <!-- Record cameras -->
    <arg name="record" value="false" />
    <!-- Directory where to save videos -->
    <arg name="record_dir" default="$(env HOME)/stingray_video_records/" />
    <!-- Enables video streaming -->
    <arg name="stream" default="false" />
    <!-- Enables connection with simulator -->
    <arg name="simulation" default="false" />

    <!-- WEIGHTS -->
    <!-- Package name with your dnn weights -->
    <arg name="weights_pkg_name" default="stingray_object_detection" />

    <!-- SIMULATION MODE -->
    <group if="$(arg simulation)">
        <!-- Connection with simulator -->
        <node pkg="stingray_gazebo_communication" name="gazebo_bridge" type="gazebo_bridge" output="$(arg ros_output)" respawn="true" />
        <!-- Vision-->
        <include file="$(find stingray_startup)/launch/object_detection.launch">
            <arg name="ros_output" value="$(arg ros_output)" />
            <arg name="simulation" value="true" />
            <arg name="debug" value="$(arg debug)" />
            <arg name="record" value="$(arg record)" />
            <arg name="record_dir" value="$(arg record_dir)" />
            <arg name="stream" value="$(arg stream)" />
            <arg name="weights_pkg_name" value="$(arg weights_pkg_name)" />
        </include>
    </group>

    <!-- REAL VEHICLE MODE -->
    <group unless="$(arg simulation)">
        <!-- Connection with real vehicle -->
        <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="$(arg ros_output)" respawn="true" />
        <node pkg="nodelet" type="nodelet" name="uart_driver" args="load stingray_communication/uart_driver standalone_nodelet" output="$(arg ros_output)" respawn="true" />
        <node pkg="nodelet" type="nodelet" name="hardware_bridge" args="load stingray_communication/hardware_bridge standalone_nodelet" output="$(arg ros_output)" respawn="true" />
        <!-- Vision-->
        <include file="$(find stingray_startup)/launch/object_detection.launch">
            <arg name="ros_output" value="$(arg ros_output)" />
            <arg name="real_cam" value="true" />
            <arg name="debug" value="$(arg debug)" />
            <arg name="record" value="$(arg record)" />
            <arg name="record_dir" value="$(arg record_dir)" />
            <arg name="stream" value="$(arg stream)" />
            <arg name="weights_pkg_name" value="$(arg weights_pkg_name)" />
        </include>
    </group>

    <!-- Movement nodes, real vehicle -->
    <node pkg="stingray_movement" type="basic_movement" name="basic_movement" output="$(arg ros_output)" respawn="true" />
    <node pkg="stingray_movement" type="movement_patterns" name="movement_patterns" output="$(arg ros_output)" respawn="true" />
</launch>