<launch>
    <!-- COMMON ARGUMENTS -->
    <!-- Settings for "output" parameter of nodes -->
    <arg name="ROS_OUTPUT" default="screen" />
    <!-- Debug mode. Enabled output images publishing after yolo prediction -->
    <arg name="DEBUG" default="false" />
    <!-- Camera node name. Set this outside -->
    <arg name="IMAGE_TOPIC_LIST" default=""/>
    
    <!-- WEIGHTS -->
    <!-- Package name with your dnn weights -->
    <arg name="WEIGHTS_PACKAGE_NAME" default="stingray_object_detection"/>

    <!-- NODES -->
    <!-- Yolo detector node -->
    <node name="yolo_detector" pkg="stingray_object_detection" type="yolo_detector.py" output="$(arg ROS_OUTPUT)" respawn="true">
        <param name="image_topic_list" value="$(arg IMAGE_TOPIC_LIST)" />
        <param name="weights_pkg_name" value="$(arg WEIGHTS_PACKAGE_NAME)" />
        <param name="debug" value="$(arg DEBUG)" />
    </node>
</launch>