<!-- Basic launch file of Stingray platform -->
<launch>

    <!-- ARGS -->

    <!-- COMMON -->
    <!-- Settings for "output" parameter of nodes -->
    <arg name="ros_output" default="screen" />
    <!-- Debug mode. Enabled output images publishing after yolo prediction -->
    <arg name="debug" default="true" />

    <!-- MISSIONS -->
    <!-- Delay after initialization that is used to put vehicle into the pool, in milliseconds -->
    <arg name="delay_after_init" default="50000" />
    <!-- FSM visualization using SMACH viewer -->
    <arg name="fsm_introspection" default="false" />

    <!-- WEIGHTS -->
    <!-- Package name with your dnn weights -->
    <arg name="weights_pkg_name" default="stingray_object_detection" />


    <!-- NODES -->
    <!-- Connection with simulator -->
    <node pkg="stingray_gazebo_communication" name="gazebo_bridge" type="gazebo_bridge" output="$(arg ros_output)" respawn="true" />


    <include file="$(find stingray_startup)/launch/object_detection.launch">
        <arg name="simulation" value="true" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="weights_pkg_name" value="$(arg weights_pkg_name)" />
    </include>


    <!-- Movement nodes, simulator -->
    <node pkg="stingray_movement" type="basic_movement" name="basic_movement" output="$(arg ros_output)" respawn="true" />
    <node pkg="stingray_movement" type="movement_patterns" name="movement_patterns" output="$(arg ros_output)" respawn="true" />
</launch>