<launch>

    <!-- First front camera -->
    <node name="cam_front_1" pkg="usb_cam" type="usb_cam_node" output="screen" respawn="true" >
        <param name="video_device" value="/dev/v4l/by-id/usb-3.0_USB_Camera_3.0_USB_Camera-video-index0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="framerate" value="30" />
        <param name="camera_frame_id" value="cam_front_1" />
        <param name="camera_name" value="cam_front_1" />
        <param name="io_method" value="mmap"/>
    </node>

    <!-- Bottom camera -->
    <node name="cam_bottom" pkg="usb_cam" type="usb_cam_node" output="screen" respawn="true" >
        <param name="video_device" value="/dev/v4l/by-id/usb-Sonix_Technology_Co.__Ltd._H264_USB_Camera_SN0001-video-index0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="framerate" value="30" />
        <param name="camera_frame_id" value="cam_bottom" />
        <param name="camera_name" value="cam_bottom" />
        <param name="io_method" value="mmap"/>
    </node>

    

    <node pkg="zbar_ros" type="barcode_reader_node" name="barcode_reader" output="screen">
        <remap from="image" to="/cam_front_1/image_raw" />
    </node>

    <node pkg="auv_startup" type="qr_trigger.py" name="qr_trigger" output="screen" />

</launch>